<!--html begins-->
<html>
<!--html's first part-->

<head>
  <!--Title appears in browsers title bar-->
  <title>Home | ABC Store Co.</title>
  <meta name="description" value="">
  </meta>
  <style>
    p {
      font-size: 30;
    }
  </style>
  <link rel="stylesheet" href="./main.css">
</head>

<body style="padding-right: 15%;padding-left: 15%; background-color: black; color: white;">

  <p>Date: 2023-04-21 01:01 </p>
  <small>Temprature: 110 </small>

  <h1 style="font-size: 60; font-weight:lighter;">TOP NEWS</h1>

  <h2>Sudan fighting: Khartoum violence mapped as civilians flee city</h2>
  <br> <br>
  <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/931F/production/_129436673_gettyimages-1251992156.jpg.webp"
    alt="woman carrying child" height="50%">
  <br>
  <i><small>Picture By Matt Murphy, Kayleen Devlin, Daniele Palumbo & Richard Irvine-Brown</small></i>
  <br> <br>
  <b>Life in Sudan's capital Khartoum has been turned on its head.</b>
  <p>Once a vibrant metropolis, residents are now living in a war zone. Sudan's army and the paramilitary Rapid Support
    Forces (RSF) are locked in brutal street combat as helicopters and fighter jets roar overhead.
  </p>
  <p style="font-size: 10;">Information coming out of the city is patchy, and access for journalists is difficult in a country where media
    freedom is already restricted.</p>

</body>

</html>