<!-- html practice table -->

<head>
  <title>Practice Table </title>
  <style>
    td {
      border: 1px solid black
    }

    #last_name {
      color: green;
    }
    
    table {
      font-size: 15;
      background-color: rgb(235, 218, 230);
      color: rgb(0, 0, 0);
      border: 1px solid black;
      border-collapse: collapse
    }
  </style>
</head>

<body style="background-color: beige;">
  <small>Created by: Ashma Giri </small>
  <br>
  <small>Date Created: 04/22/2023</small>


  <br> <br>
</body>
<table>
  <tr style="font-size: 20; color: black;">
    <td><b>First Name &nbsp;&nbsp;</b></td>
    <td><b>Last Name &nbsp;&nbsp;</b></td>
    <td><b>Cell Ph. Number</b></td>
  </tr>

  <tr style="color: grey;">
    <td>Ashma</td>
    <td id="last_name">Giri</td>
    <td>510-610-9519</td>
  </tr>
  <tr style="color: grey;">
    <td>John</td>
    <td>Doe</td>
    <td>510-555-9999</td>
  </tr>
  <tr style="color: grey;">
    <td>Miranda</td>
    <td>Kerr</td>
    <td>415-666-9900</td>
  </tr>

</table>